img {
  object-fit: cover;
  border-radius: 5%;
}

.form-control {
  background-color: #F8FAFC;
  width: 50%;
  margin: 0 auto;
}

.form-label.required:after {
  content:"*";
  color:red;
}

.img-upload .form-label {
  display: block;
}

.img-upload .upload-btn {
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}