.rating {
  display: inline-flex;
}

#reviews {
  margin-top: 3%;
  background-color: white;
  border: 1px solid black;
}

.review {
  background-color: #EFF0F0;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
}